{% extends 'base.html'%}
{% load static%}

 {% block body %}
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url({% static 'assets/images/services/ag.jpg'%});"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li>/</li>
                    <li><span>farmer certificate</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
                <h2>Farmer certificate details</h2>
            </div><!-- /.container -->
        </section><!-- /.page-header -->

   <!-- /.service-two -->

        <section class="feature-one">
            <div class="container pt-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="feature-one__content">
                            <div class="block-title">
                                <h3>We Provide 100% Legal Farmer Certificate, From Rajasthan And Madhya Pradesh</h3>
                            </div><!-- /.block-title -->
                            <div class="feature-one__summery">
                                <p>We provide a 100% legal Shetkari dakhila/Farmer Certificate from Rajasthan and Madhya Pradesh for buy a land in Maharashtra</p>
                                <p> शेतकरी दाखला Farmer Certificate किसान प्रमाणपत्र
                                    100% कायदेशिर रित्या शेतकरी बनवुन दिले जाईल
                                    ते पण कमी दिवसात *तुम्ही एकदा शेतकरी झाल्यावर Life Time मध्ये तुम्ही कुठेही शेत जमीन जागा खरेदी करू शकता
                                    
                                   <h2 class="p-2"> Legal process </h2>
                                    <ol>
                                    <li>  तुमच्या नावाचे खरेदी खत </li>
                                    <li>   तुमच्या नावाचा Online 7/12 तुम्ही कधीही बघु शकता.</li>
                                     <li>  शेतकरी दाखला </li>
                                    </ol>
                                    लक्षात असूद्या शेतकरीच शेतक-याची जमीन खरेदी करु शकतो. </p>
                            </div><!-- /.feature-one__summery -->
                           <!--  <ul class="list-unstyled feature-one__check-list">
                                <li>
                                    <i class="agrikon-icon-tick"></i>
                                    Get the best and fresh organic products
                                </li>
                                <li>
                                    <i class="agrikon-icon-tick"></i>
                                    Get the best and fresh organic products
                                </li>
                            </ul> --><!-- /.list-unstyled -->
                        </div><!-- /.feature-one__content -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="feature-one__image">
                            <img src="{%static 'assets/images/services/rajf.jpg' %}" alt="" height="100%" width="100%">
                        </div><!-- /.feature-one__image -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.feature-one -->

              <section class="feature-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="feature-one__content">
                            <div class="block-title">
                               
                              
                                <h3>Farmer Certificate / शेतकरी दाखला / किसान प्रमाणपत्र</h3>
                            </div><!-- /.block-title -->
                            <div class="feature-one__summery">
                                <p>हम "राजस्थान" से कानूनी तरीके से "किसान प्रमाणपत्र (शेतकरी दाखला)" Farmer Certificate बनाते हैं और प्रदान करते हैं ।<br> इसके लिए हम राजस्थान में आपके नाम पर कृषि भूमि खरीदते हैं ।<br> इसके लिए हम स्टंप शुल्क और पंजीकरण शुल्क आपके नाम से सरकार को प्रदान करते हैं ।<br> कृषि भूमि के पंजीकरण (रजिस्ट्री) के बाद हम आपको सभी कानूनी दस्तावेज देते हैं जो आपके नाम पर है ।<br> डोकुमेंट ऑनलाइन होने के साथ आपको मिलेगा - रजिस्टर एग्रीमेंट (खरीदी खत) + जमाबंदी (7/12) + किसान प्रमाणपत्र (शेतकरी दाखला)</p>
                                <h3 class="pt-4">
हमें इसके लिए चाहिए:</h3>
                           
                            </div><!-- /.feature-one__summery -->
                           <ul class="list-unstyled feature-one__check-list">
                                <li>
                                    <i class="agrikon-icon-tick"></i>
                                   आधार कार्ड झेराँक्स
                                </li>
                                <li>
                                    <i class="agrikon-icon-tick"></i>
                                  पैन कार्ड झेराँक्स
                                </li>
                                 <li>
                                    <i class="agrikon-icon-tick"></i>
                                फोटो
                                </li>

                            </ul> <!-- /.list-unstyled -->
                           
                        </div><!-- /.feature-one__content -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="feature-one__image">
                            <img src="{%static 'assets/images/services/raj7.jpg' %}" alt="" height="100%" width="100%">
                        </div><!-- /.feature-one__image -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
   
        <section class="feature-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="feature-one__content">
                            <div class="block-title">
                               
                              
                                <h3>Legal "Farmer Certificate" from Rajasthan and MP </h3>
                            </div><!-- /.block-title -->
                            <div class="feature-one__summery">
                                <p>We make and provide legal "Farmer Certificate" from "Rajasthan". And mp </p>
                            </div><!-- /.feature-one__summery -->
                           <ul class="list-unstyled feature-one__check-list">
                                <li>
                                    <i class="agrikon-icon-tick"></i>
                                    We purchase Agriculture land on your name
                                </li>
                                <li>
                                    <i class="agrikon-icon-tick"></i>
                                    We give you all the legal documents which is on your name.
                                </li>
                                 <li>
                                    <i class="agrikon-icon-tick"></i>
                                    Like  Register agreement + Jamabandi (7/12) +  Farmer certificate  with Online. 
                                </li>
                                <li>
                                    <i class="agrikon-icon-tick"></i>
                                    We need paper for this (i)  Aadhar card,  (ii) Pan card,  (iii) photo
                                </li>

                            </ul> <!-- /.list-unstyled -->
                            <p class="mt-2"> <b>Note-</b>Without farmer certificate you can't purchase agriculture land in Maharashtra. Agriculture land is a Best investment for future.<br/>
                                 Call: <a href="tel:+919867907688">+919867907688</a> Ss Enterprises Mira road Mumbai.</p>
                           
                        </div><!-- /.feature-one__content -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="feature-one__image">
                            <img src="{%static 'assets/images/services/raj7.jpg' %}" alt="" height="100%" width="100%">
                        </div><!-- /.feature-one__image -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
        
        {% endblock body %}